<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to
      <%= title %>
    </p>
  </header>


  <div>
    <button id="getrepos">Get Repositories</button>

    <div id="tablediv">
      <input class="search" placeholder="Search" />
      <table>
        <tr>
        <th><button class="sort" data-sort="name">Name</button></th>
        <th><button class="sort" data-sort="lastact">Last Activity</button></th>
        <th><button class="sort" data-sort="age">age</button></th>
        <th><button class="sort" data-sort="file">file</button></th>
        <th><button class="sort" data-sort="link">Link</button></th>
        <td>
      </table>

      <table id="maintable" class="list">

      </table>
    </div>
  </div>
  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </footer>
</body>

</html>
