/**
 * @Author: John Isaacs <john>
 * @Date:   07-Feb-192019
 * @Filename: style.css
 * @Last modified by:   john
 * @Last modified time: 07-Feb-192019
 */



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.green  {
  background-color: green;opacity:0.6;

}
.yellow  {
  background-color: yellow;opacity:0.6;
}
.orange {
  background-color: orange;opacity:0.6;
}
.red  {
  background-color: red;opacity:0.6;
}
